* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5rem 3rem;
  border-radius: 50px;
}
.btn-light {
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 36, 45, 0.4);
  font-weight: 700;
}
.btn-main {
  background-color: #ff51bf;
}

.card,
#footer-card {
  border: 2px solid #eafaff;
  border-radius: 1rem;
  margin: 5rem auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0px 0px 15px rgba(127, 141, 152, 0.15);
}
.card-content {
  margin: auto;
  width: 45%;
}
.card-content .card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #00242d;
}

.card:first-of-type .card-content {
  order: 1;
}

.card:nth-of-type(2) .card-content {
  order: 2;
}

.card:last-of-type .card-content {
  order: 1;
}

.card-content .card-body {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: #333;
}

.card:first-of-type img,
.card:last-of-type img {
  order: 2;
}

.card:nth-of-type(2) img {
  order: 1;
}

/* .card:last-of-type img {
  order: 2;
} */

.card img,
#footer-card img {
  margin: auto;
  width: 30%;
}

#img-2 {
  order: 2;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

ul {
  list-style: none;
}

#main-header {
  background-image: url("/images/bg-hero-desktop.svg");
  background-repeat: no-repeat;
  background-color: #ebfbff;
  height: 100vh;
}
#main-header #main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
#main-header #main-nav img {
  width: 15%;
}
#main-header #showcase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
#main-header #showcase-message {
  width: 38%;
}
#main-header #showcase-message h1 {
  width: 80%;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
#main-header #showcase-message p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
#main-header #showcase-image {
  width: 50%;
}
#main-header #showcase-image img {
  width: 100%;
}

#main-footer {
  background-color: #00242d;
  color: #eafaff;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}
#main-footer .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
#main-footer .container #contact {
  display: grid;
}
/* #main-footer .container #contact > img {
  border: solid red;
  color: #fff;
} */

#main-footer .container #contact .contact-section {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 7fr;
}
#main-footer .container #footer-links {
  justify-content: space-around;
  display: flex;
}
#main-footer .container #footer-links ul li {
  padding: 0.5rem;
}
#main-footer .container #icon-section {
  margin: auto;
}
#main-footer .container #icon-section i {
  padding: 0.45rem;
  border: 2px solid #eafaff;
  border-radius: 50%;
}
#main-footer .container + p {
  text-align: end;
  padding: 1rem 2rem;
  margin: 0;
}

#footer-card {
  font-family: "Poppins", sans-serif;
  height: 30%;
  position: relative;
  top: -5rem;
  background: #fff;
  color: #00242d;
  width: 30%;
  z-index: 1;
  flex-direction: column;
  margin: 10rem auto 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 0;
}

.attribution a {
  color: #3d51a2;
}

/* Responsive */
@media only screen and (max-width: 500px) {
  #main-header {
    background-image: url("../images/bg-hero-mobile.svg");
    background-color: #eafaff;
    background-repeat: no-repeat;
    height: 100%;
  }

  #main-header #main-nav {
    padding: 0;
    padding-top: 1.5rem;
  }

  #main-header #main-nav img {
    width: 35%;
  }

  #main-header #main-nav .btn {
    width: 45%;
    padding: 0.5rem;
    text-align: center;
  }

  #main-header #showcase {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }

  #main-header #showcase-message {
    width: 100%;
    margin: 4rem auto;
    text-align: center !important;
  }

  #main-header #showcase-message h1 {
    width: 70%;
    margin: 0 auto 2rem;
    font-weight: 700;
  }

  #main-header #showcase-image {
    width: 100%;
  }

  #main-header + .container {
    width: 80%;
  }

  .container {
    width: 100%;
  }

  .card {
    margin: 3rem 0;
    padding: 1rem;
    width: 100%;
    flex-direction: column;
  }

  .btn-main {
    margin: 1.5rem 0;
  }

  .card img {
    width: 100%;
    order: 1 !important;
  }

  #img-2 {
    order: initial;
  }
  .card-content {
    width: 80%;
  }
  .card-content * {
    order: 2;
    width: 100%;
    text-align: center;
    margin: 2rem auto;
  }
  #footer-card {
    width: 90%;
  }

  #main-footer .container {
    display: flex;
    flex-direction: column;
  }

  #main-footer .container #contact,
  #main-footer .container #contact-section,
  #main-footer .container #footer-links,
  #main-footer .container #icon-section {
    margin: 1rem;
  }

  #main-footer .container #contact * {
    margin: 0.5rem 0;
  }

  #main-footer .container #footer-links {
    flex-direction: column;
    width: 100%;
  }
  #main-footer .container + p {
    text-align: center;
  }
}
